@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{

    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: auto;
    
    
}

.boton{
    background-color: rgba(69, 101, 64, 0.6);
    border: none;
    margin-top: 10px;
    
    width: 291.16px;
    height: 71.71px;
    
    border-radius:20px;
    padding: 25px 50px;
}

.boton:hover{
    background-color: rgba(69, 101, 64, 0.9);
    box-shadow: none;
    transition: 0.5s;
}
.boton a{
    color:white;
    text-decoration: none;
    cursor: pointer;
    
    
}

.navbar{
    
    display: flex;
    justify-content: space-around;
    padding: 2em;
    text-align: center;
    width: 100%;
    height: auto;
    
}

.info-content{
    background-color: white;
    width: 350px;
    height: 438px;
    text-align: center;
    color: black;
    font-size: 15px;
    align-content: center;
    
    
}
    
.mainintegrantes{ 
 display: flex;
 justify-content: space-around;
       
}

img{
    width: 341px;
    height: 379px;
    margin-top: 15px;
    

}

.ircv{
    
    background-color: #c29676;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    width: 140px;
    height: 56px;
    color: #000;
    font-family: Crimson Pro;
    font-size: 27px;
   


}

.ircv:hover{
    background-color: rgba(194, 129, 81, 1);

}

.proyecto{
    background-color: rgba(156, 114, 84, 0.7);
    width: 100%;
    height: auto;
}

.info{
    
    display: block;
}

.info-proyecto img{
    width: 550px;
    height: 716px;
    
    
}
.info-proyecto{
    
    display: flex;
    justify-content: space-around;
         
}


.icono-homeproyecto img{

    width: 90px;
    height: 90px;
    
    position:absolute;
    right: 2.5%;
    top: 810px;
 
}
 
 
.icono-plantproyecto img{
 
    width: 90px;
    height: 90px;
    position: absolute;
    right: 2.5%;
    top: 710px;
 
}
 
.icono-handsproyecto img{
 
    width: 90px;
    height: 90px;
    position:absolute;
    right: 2.5%;
    top: 620px;
 
}

.info-proyecto p{
    width: 600px;
    height: 296px;
    margin: 40px;
    font-size: 30px;
    font-family: 'Crimson Pro', serif;    
}

.info-proyecto h2{
    
    font-size: 90px;
    text-align: center;
    font-family: 'Crimson Pro', serif;
    font-family: Crimson Pro;
    
}

.contenedor{

    background-color: rgba(255, 255, 255, 0.70);
    opacity:-0,4;
    width: 400px;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
    position:absolute;
    top: 380px;
    right: 5%;

}
.contenedor h2 {

    
    text-align: center;
    right: 2%;
    font-family: 'Crimson Pro', serif;
    font-size: 60px;
    line-height: normal;

}



.info-inicio{

    background: rgba(156, 114, 84, 0.70);
    border-radius: 35px;
    border: 1px solid #000;
    width: 480px;
    height: 250px;
    position: absolute;
    top: 485px;
    right: 3%; 
       
}

.info-inicio h3{
    
    margin: 25px;
    font-family: 'Imprima', sans-serif;
    font-size: 20px;
    

}

.info-inicio h4{
    
    font-family: 'Imprima', sans-serif;
    font-size: 20px;
    margin: 20px;

    
}


.icono-home img{

   width: 90px;
   height: 90px;
   
   position:absolute;
   right: 2.5%;
   top: 660px;

}

.icono-plant img{

   width: 90px;
   height: 90px;
   
   position:absolute;
   right: 2.5%;
   top: 568px;

}

.icono-hands img{

   width: 90px;
   height: 90px;
   position:absolute;
   right: 2.5%;
   top: 478px;

}


.sitio{

    background-color: rgba(156, 114, 84, 0.8);
    border-radius: 35px;
    padding-top: 35px;
    width: 700px;
    height: 300px;
    font-family: 'Imprima', sans-serif;
    font-size: 50px;
    color:whitesmoke;
    justify-content: center;
    line-height: normal;
    text-align: center;
}

/* Sección Responsive */
@media only screen and (max-width:600px){
    .navbar{
        display: grid;
        width: 100%;
        align-items: center;
        
    }

    .info-inicio{
        width: 300px;
        height: auto;
        
       
       
    }
    .info-inicio h4{
        font-size: 18px;
    }

    .wrapper{
        background-image: url(img/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height: auto;

    }
    .boton{
        margin: 5px;
        width: 291.16px;
        height: 24px;
        
        
        
        
    }
  
    
    
    .contenedor{
        width: 260px;
        height: 50px;
        padding: 0;
        position:absolute;
        top: 432px;
        right: 6%;
   

        

    }

    .contenedor h2{
        font-size: 40px;
    }

    .icono-home img{

        width: 58px;
        height: 58px;
        
        position:absolute;
        right: 2.5%;
        top: 665px;
     
    }
     
     
     
    .icono-plant img{
     
        width: 58px;
        height: 58px;
        
        position:absolute;
        right: 2.5%;
        top: 568px;
     
    }
     
    .icono-hands img{
     
        width: 58px;
        height: 58px;
        
        position:absolute;
        right: 2.5%;
        top: 478px;
     
    }

    .info-proyecto{
    
        display: block;
        
    }

    .info-proyecto img{
        width: 350px;
        height: 500px;
        
     
    }
    .info{
        justify-content: center;
        
    }
    .info-proyecto p{
       
        font-size: 20px;
        width: 300px;
        height: 296px;
        
    }
    
    .info-proyecto h2{
        
        font-size: 40px;
        text-align: center;
        
        
    }

    .icono-homeproyecto img{

        width: 90px;
        height: 90px;
        
        position:absolute;
        right: 200px;
        top: 1200px;
     
    }
     
    
     
    .icono-plantproyecto img{
     
        width: 90px;
        height: 90px;
        position:absolute;
        right: 5%;
        top: 1200px;
     
    }
     
    .icono-handsproyecto img{
     
        width: 90px;
        height: 90px;
        right: 50%;
        position:absolute;
        
        top: 1200px;
     
    }

    .mainintegrantes{
        display: block;
    }

    .sitio{
        background-color: rgba(156, 114, 84, 0.8);
        border-radius: 35px;
        padding-top: 35px;
        width: 300px;
        height: 190px;
        font-family: 'Imprima', sans-serif;
        font-size: 25px;
        color:whitesmoke;
        justify-content: center;
        line-height: normal;
        text-align: center;
    }
    

}
